@import "./print.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* App base */
:root { color-scheme: dark; }
html, body { height: 100%; }
body { background: #0a0a0a; color: #f3f3f3; }
