---
import Page from '../layouts/Page.astro';
import Nucleus from '../components/home/Nucleus.astro';
import SignalBar from '../components/ui/SignalBar.astro';
import MediaFeeds from '../components/home/MediaFeeds.astro';
import WritingSection from '../components/home/WritingSection.astro';
import TravelSection from '../components/home/TravelSection.astro';
import CyclingSection from '../components/home/CyclingSection.astro';
---

<Page title="Ashton Hawkins">
  <Nucleus />
  <div class="dashboard container-shell max-wide">
    <SignalBar />
    <MediaFeeds />
    <SignalBar />
    <WritingSection />
    <SignalBar />
    <TravelSection />
    <SignalBar />
    <CyclingSection />
  </div>
</Page>

<style>
  .dashboard { display:grid; gap:.2rem; }
</style>
